[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-countries = {extras = ["pyuca"], version = "*"}
django-rest-swagger = "*"
drf-yasg = "*"
drf-spectacular = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
